!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => 'renderer', :content => 'webkit'}
    %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    
    %title CompentencyInspect
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.admin
    :ruby
      top_menu_data = {
        current_user: DataFormer.new(current_user).url(:admin_sign_in).url(:admin_sign_out).data
      }
      sidebar_data = {
        items: [
          {
            icon: 'users',
            url: '/admin/users',
            name: '账号管理'
          },
          {
            icon: 'check',
            url: '/admin/user_test_papers',
            name: "答卷审阅"
          },
          {
            icon: 'idea',
            url: '/admin/question_points',
            name: "知识点"
          },
          {
            icon: 'list',
            url: '/admin/questions',
            name: "题目管理"
          },
        ]
      }
    = react_component 'LayoutAdminSidebar', data: sidebar_data
    = react_component 'LayoutAdminTopMenu', data: top_menu_data
    .admin-page_content
      .func-content.ui.segment.basic
        = yield
    -# .ui.grid
    -#   .row
    -#     .three.wide.column
    -#       .ui.vertical.menu
    -#         %a.item{href: "#"} 用户管理
    -#         %a.item{href: "#"} 题库管理
    -#         %a.item{href: "#"} 答卷浏览
    -#     .thirteen.wide.column
